In [1]:
import pandas as pd

# Ruta del archivo
file_path = r'C:\Users\Administrator\Downloads\airline_passenger_satisfaction.csv'

# Cargar el archivo CSV
df = pd.read_csv(file_path)

# Mostrar las primeras filas del DataFrame para verificar la carga
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [7]:
# Verificar la estructura del DataFrame (número de filas y columnas)
print(df.shape)

# Obtener información general sobre los datos, como tipos de datos y valores nulos
print(df.info())

# Ver las estadísticas descriptivas de las columnas numéricas
print(df.describe())

# Ver las estadísticas de columnas categóricas
print(df.describe(include=['object']))

# Ver las primeras filas para una inspección rápida
print(df.head())

(103904, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB
None
          Unnamed: 0             id            Age  Flight Distance  \
count  103904.000000  103904.000000  103904.000000    103904.000000
mean    51951.500000   64924.210502      39.379706      1189.448375
std     29994.645522   37463.812252      15.114964       997.147281
min         0.000000       1.000000       7.000000        31.000000
25%     25975.750000   32533.750000      27.000000       414.000000
50%     51951.500000   64856.500000      40.000000       843.000000
75%     77927.250000   97368.250000      51.000000      1743.000000
max    103903.000000  129880.000000      85.000000      4983.000000

       Inflight wifi service  Departure/Arrival time convenient  \
count          103904.000000                      103904.000000
mean                2.729683                           3.060296
std                 1.327829                           1.525075
min                 0.000000                           0.000000
25%                 2.000000                           2.000000
50%                 3.000000                           3.000000
75%                 4.000000                           4.000000
max                 5.000000                           5.000000

       Ease of Online booking  Gate location  Food and drink  Online boarding  \
count           103904.000000  103904.000000   103904.000000    103904.000000
mean                 2.756901       2.976883        3.202129         3.250375
std                  1.398929       1.277621        1.329533         1.349509
min                  0.000000       0.000000        0.000000         0.000000
25%                  2.000000       2.000000        2.000000         2.000000
50%                  3.000000       3.000000        3.000000         3.000000
75%                  4.000000       4.000000        4.000000         4.000000
max                  5.000000       5.000000        5.000000         5.000000

        Seat comfort  Inflight entertainment  On-board service  \
count  103904.000000           103904.000000     103904.000000
mean        3.439396                3.358158          3.382363
std         1.319088                1.332991          1.288354
min         0.000000                0.000000          0.000000
25%         2.000000                2.000000          2.000000
50%         4.000000                4.000000          4.000000
75%         5.000000                4.000000          4.000000
max         5.000000                5.000000          5.000000

       Leg room service  Baggage handling  Checkin service  Inflight service  \
count     103904.000000     103904.000000    103904.000000     103904.000000
mean           3.351055          3.631833         3.304290          3.640428
std            1.315605          1.180903         1.265396          1.175663
min            0.000000          1.000000         0.000000          0.000000
25%            2.000000          3.000000         3.000000          3.000000
50%            4.000000          4.000000         3.000000          4.000000
75%            4.000000          5.000000         4.000000          5.000000
max            5.000000          5.000000         5.000000          5.000000

         Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes
count  103904.000000               103904.000000             103594.000000
mean        3.286351                   14.815618                 15.178678
std         1.312273                   38.230901                 38.698682
min         0.000000                    0.000000                  0.000000
25%         2.000000                    0.000000                  0.000000
50%         3.000000                    0.000000                  0.000000
75%         4.000000                   12.000000                 13.000000
max         5.000000                 1592.000000               1584.000000
        Gender   Customer Type   Type of Travel     Class  \
count   103904          103904           103904    103904
unique       2               2                2         3
top     Female  Loyal Customer  Business travel  Business
freq     52727           84923            71655     49665

                   satisfaction
count                    103904
unique                        2
top     neutral or dissatisfied
freq                      58879
   Unnamed: 0      id  Gender      Customer Type  Age   Type of Travel  \
0           0   70172    Male     Loyal Customer   13  Personal Travel
1           1    5047    Male  disloyal Customer   25  Business travel
2           2  110028  Female     Loyal Customer   26  Business travel
3           3   24026  Female     Loyal Customer   25  Business travel
4           4  119299    Male     Loyal Customer   61  Business travel

      Class  Flight Distance  Inflight wifi service  \
0  Eco Plus              460                      3
1  Business              235                      3
2  Business             1142                      2
3  Business              562                      2
4  Business              214                      3

   Departure/Arrival time convenient  ...  Inflight entertainment  \
0                                  4  ...                       5
1                                  2  ...                       1
2                                  2  ...                       5
3                                  5  ...                       2
4                                  3  ...                       3

   On-board service  Leg room service  Baggage handling  Checkin service  \
0                 4                 3                 4                4
1                 1                 5                 3                1
2                 4                 3                 4                4
3                 2                 5                 3                1
4                 3                 4                 4                3

   Inflight service  Cleanliness  Departure Delay in Minutes  \
0                 5            5                          25
1                 4            1                           1
2                 4            5                           0
3                 4            2                          11
4                 3            3                           0

   Arrival Delay in Minutes             satisfaction
0                      18.0  neutral or dissatisfied
1                       6.0  neutral or dissatisfied
2                       0.0                satisfied
3                       9.0  neutral or dissatisfied
4                       0.0                satisfied

[5 rows x 25 columns]

In [4]:
# Contar valores nulos en cada columna
print(df.isnull().sum())

# Verificar si hay filas duplicadas
print(df.duplicated().sum())

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64
0

In [3]:
df = df.dropna()

In [ ]:
# Contar valores nulos en cada columna
print(df.isnull().sum())

# Verificar si hay filas duplicadas
print(df.duplicated().sum())

In [5]:
print((df == 0).sum())
  # Muestra el conteo de ceros por columna

Unnamed: 0                               1
id                                       0
Gender                                   0
Customer Type                            0
Age                                      0
Type of Travel                           0
Class                                    0
Flight Distance                          0
Inflight wifi service                 3096
Departure/Arrival time convenient     5290
Ease of Online booking                4473
Gate location                            1
Food and drink                         105
Online boarding                       2420
Seat comfort                             1
Inflight entertainment                  14
On-board service                         3
Leg room service                       470
Baggage handling                         0
Checkin service                          1
Inflight service                         3
Cleanliness                             12
Departure Delay in Minutes           58552
Arrival Delay in Minutes             58159
satisfaction                             0
dtype: int64

In [19]:

df = df[df['Gate location'] != 0]

In [6]:
print(df['Gender'].unique())
print(df['Customer Type'].unique())
print(df['Type of Travel'].unique())

['Male' 'Female']
['Loyal Customer' 'disloyal Customer']
['Personal Travel' 'Business travel']

Aplico One-hot

In [7]:

# Aplicar la codificación one-hot a todas las columnas categóricas
df = pd.get_dummies(df, columns=['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction'], drop_first=True)

# Mostrar las primeras filas del DataFrame final para verificar el resultado
print(df.head())

   Unnamed: 0      id  Age  Flight Distance  Inflight wifi service  \
0           0   70172   13              460                      3
1           1    5047   25              235                      3
2           2  110028   26             1142                      2
3           3   24026   25              562                      2
4           4  119299   61              214                      3

   Departure/Arrival time convenient  Ease of Online booking  Gate location  \
0                                  4                       3              1
1                                  2                       3              3
2                                  2                       2              2
3                                  5                       5              5
4                                  3                       3              3

   Food and drink  Online boarding  ...  Inflight service  Cleanliness  \
0               5                3  ...                 5            5
1               1                3  ...                 4            1
2               5                5  ...                 4            5
3               2                2  ...                 4            2
4               4                5  ...                 3            3

   Departure Delay in Minutes  Arrival Delay in Minutes  Gender_Male  \
0                          25                      18.0         True
1                           1                       6.0         True
2                           0                       0.0        False
3                          11                       9.0        False
4                           0                       0.0         True

   Customer Type_disloyal Customer  Type of Travel_Personal Travel  Class_Eco  \
0                            False                            True      False
1                             True                           False      False
2                            False                           False      False
3                            False                           False      False
4                            False                           False      False

   Class_Eco Plus  satisfaction_satisfied
0            True                   False
1           False                   False
2           False                    True
3           False                   False
4           False                    True

[5 rows x 26 columns]

Hago la división de la columna "Class"

Convierto los booleanos a enteros

In [9]:
# Convertir columnas booleanas a enteros
df = df.apply(lambda x: x.astype(int) if x.dtype == 'bool' else x)

In [10]:
# Guardar el DataFrame limpio en la carpeta Downloads
ruta_descargas = r'C:\Users\Administrator\Downloads\airline_passenger_satisfaction_pruebaconisatransformados.csv'
df.to_csv(ruta_descargas, index=False)

print(f'Archivo guardado en {ruta_descargas}')

Archivo guardado en C:\Users\Administrator\Downloads\airline_passenger_satisfaction_pruebaconisatransformados.csv

In [11]:
# Supongamos que 'satisfaction' es la columna que deseas predecir
X = df.drop('satisfaction_satisfied', axis=1)  # Eliminar la columna de satisfacción de las características
y = df['satisfaction_satisfied']  # La columna de satisfacción es la variable objetivo

Dividir los datos de entrenamiento y prueba

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Hiperparametros

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Definir el rango de hiperparámetros a probar
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Crear el modelo base
rf = RandomForestClassifier(random_state=42)

# Crear el Grid Search
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)

# Ajustar el modelo con los datos de entrenamiento
grid_search.fit(X_train, y_train)

# Obtener los mejores parámetros
best_params = grid_search.best_params_
print(f"Mejores Hiperparámetros: {best_params}")


# Obtener el mejor modelo basado en los hiperparámetros optimizados
best_rf = grid_search.best_estimator_

Fitting 3 folds for each of 108 candidates, totalling 324 fits
Mejores Hiperparámetros: {'max_depth': 30, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 300}

Evaluar el modelo

In [15]:
from sklearn.metrics import accuracy_score, classification_report

# Predecir los valores del conjunto de prueba con el mejor modelo
y_pred = best_rf.predict(X_test)

# Evaluar la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Precisión: {accuracy}")

# Mostrar un informe de clasificación detallado
print(classification_report(y_test, y_pred))

Precisión: 0.9489247600150158
              precision    recall  f1-score   support

           0       0.95      0.96      0.96     52865
           1       0.95      0.93      0.94     40370

    accuracy                           0.95     93235
   macro avg       0.95      0.95      0.95     93235
weighted avg       0.95      0.95      0.95     93235

Opcional: GUARDAR EL MODELO

In [34]:
import joblib

# Guardar el modelo
joblib.dump(best_rf, 'random_forest_model.pkl')

# Cargar el modelo (cuando lo necesites)
rf_loaded = joblib.load('random_forest_model.pkl')